<!DOCTYPE html>
<html lang="en">
<head>
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 5</title>
</head>
<body>
    <center><h4>Sunil Aleti, 1001876963</h4></center>
<div class="center">
    <a class="button" href="addnewfile">Add new file</a><br><br>
    <a class="button" href="search">Search</a>

</div>

</body>
</html>