<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <center>
    <form action="/searchquery" method="post">
        <input type="text" name="query" placeholder="Enter word to search" autocomplete="off" required><br><br>
        <input type="submit" value="submit">
        <br><br>
    </form>
    {% if out %}
    {% for i in range(out|length) %}
          <strong>{{out[i][0]}}</strong>
          <br>
          <br>
{% for j in range(1,out[i]|length) %}
        <li>{{out[i][j]}}</li>
{% endfor %}
<br><br><br>
{% endfor %}
{% endif %}

    </center>
    
</body>
</html>